# LIBRERÍA DE PYTHON PARA CONECTAR CON BD MYSQL

Interfaz de <b>Python3</b> para <b>MySQL</b>.

<b>mysql.connector</b> es una interfaz para conectar el popular servidor de base de datos <b>MySQL</b> con <b>Python3</b>.

<img src="img/py-mysql.png">

La instalación de esta librería, se puede hacer con la descarga del instalador desde la página oficial de MySQL
<a href="https://dev.mysql.com/downloads/connector/python/" target="_blank">https://dev.mysql.com/downloads/connector/python/</a>
o a través de consola utilizando el método <b>pip</b>.

<br>

<img src="img/py-connector-mysql.png">

#### Para la instalación del myqs-connector-python por consola, usamos la siguiente instrucción

In [ ]:
!pip install mysql-connector-python

## Probar la inslatación del $connector$
De esta forma verificamos si las instalaciones de MySQL y el Conector quedaron bien.

In [ ]:
import mysql.connector

## Conexión con el servidor.
Pasamos las credenciales para fijar la conexión entre Python y el servidor de la Base de Datos en MySQL

In [ ]:
import mysql.connector

SERVER = 'localhost'
USER = 'root'
PASSWD = ''
DB = 'info1grupo3'

cnx = mysql.connector.connect(user=USER , password=PASSWD , host=SERVER , database=DB )

cursor = cnx.cursor()

## NOTA:
El método $cursor()$ fija la conexión entre Python y el servidor de MySQL usando las credenciales enviadas con el método $connect()$

# CRUD
Acrónimo de <b>Create</b>, <b>Read</b>, <b>Update</b> and <b>Delete</b>

Es la operaciones básica para hacer querys en bases de datos, el objetivo es: 
1. <b>Create:</b> Insertar registros en la base de datos.
2. <b>Read:</b> Leer información desde la base de datos.
3. <b>Update:</b> Actualizar información ya existente en la base de datos.
4. <b>Delete:</b> Eliminar registros de la base de datos.

## NOTA:
Toda instrucción que se pasa a MySQL desde Python para hacer los query, se debe hacer con una cadena (string). <b><u>Por convención</u></b>, para la construcción de estas cadenas, las palabras reservadas de MySQL las vamos a poner en <u>mayúsculas</u> y el resto, como varialbles, datos, etc., las vamos a usar en <u>minúsculas</u>.

# READ - Leer

* Tiene varias formas de uso según los filtros, el ordenamiento de la información, el tipo de datos, etc. La palabra reservada de MySQL para hacer este query es $SELECT$.

* Durante todo el proceso y en los diferentes query, vamos a estar utilizando la variable $cursor$ creada en la conexión con el servidor. Siempre se usará este vínculo para hacer las peticiones al servidor.

* Todas las peticiones hechas tienen la forma Acción-Reacción, Python como cliente envía una petición (acción) y el sevidor devuelve una respuesta (reacción).

###  Traer TODA la información de la base de datos

In [ ]:
sql = "SELECT * FROM estudiantes"

# Luego de tener la línea de comandos del SQL (cadena) se debe enviar al servidor
# para que la procese y devuelva una respeusta.
cursor.execute(sql)

# Luego que el servidor procesa la información de la cadena enviada y si todo
# está bien, envía la respuesta. Es un arreglo que capturo con el método fetchall()
# y este este retorna una lista de tuplas, donde cada tupla es un registro
# de la base de datos, estos registros pueden ser cero, uno o varios, según
# sea la condición que se pida en la instrucción de la cadena enviada.
results = cursor.fetchall()

results

### Filtrado, solo trae los registros que cumplen con la condición

In [ ]:
condición = input('Documentos de id: ')
#sql = "SELECT * FROM estudiantes WHERE documento = '%s' " % condición
sql = f"SELECT * FROM estudiantes WHERE documento = '{condición}' "
sql = "SELECT * FROM estudiantes WHERE documento = '" + str(condición)+ "' "
# la VARIABLE es el nombre de la columna en la tabla por la cual quiero hacer el filtro.
# la CONDICIÓN es el valor que se evalúa para traer los registros.

# En la condición podemos utilizar los operadores >, <, >= , <= , =
# Para el caso LIKE, se puede utilizar el comodín %...% , ...%, %... , _..., ..._

# RECUERDE que la expresión que se almacena en sql es una cadena (string) y
# se puede usar cualquier método de concatenación, como por ejemplo: + , % , .format() o f-string

cursor.execute(sql)
results = cursor.fetchall()
results

### Ordenar, se hace la petición al servidor, pero con una condición de ordenamiento

In [ ]:
sql = "SELECT * FROM estudiantes ORDER BY edad DESC"
# ASC : Orden ascendente
# DESC : Orden descendente

cursor.execute(sql)
results = cursor.fetchall()
results

### Filtro de variables, se pueden traer solo algunas variables (columnas) de una tabla

In [ ]:
sql = "SELECT edad , nombre , documento FROM estudiantes "
# col1, col3, etc. debe ser el nombre exacto de la columna de la tabla
# Dichas columnas no tienen que ser en el orden que están en la tabla

cursor.execute(sql)
results = cursor.fetchall()
results

In [ ]:
sql = "SELECT edad , nombre , documento FROM estudiantes WHERE edad > '30' ORDER BY nombre ASC"
# col1, col3, etc. debe ser el nombre exacto de la columna de la tabla
# Dichas columnas no tienen que ser en el orden que están en la tabla

cursor.execute(sql)
results = cursor.fetchall()
results

### Consultar información de varias tablas el mismo tiempo

In [ ]:
cod= input('Ingrese el código: ')
sql = f"""SELECT  estudiantes.nombre, estudiantes.apellido,estudiantes.carrera, 
        carreras.codigo , carreras.carrera 
         FROM  estudiantes ,carreras WHERE 
         estudiantes.carrera = {cod} and carreras.codigo = {cod}"""
# varOK es el criterio de búsqueda, es decir, es la columna que tiene que coincidir 
# para que se haga la consulta.

cursor.execute(sql)
results = cursor.fetchall()
results

In [ ]:
### cod= input('Ingrese el código: ')
sql = f"""SELECT  estudiantes.nombre, estudiantes.apellido,estudiantes.carrera, 
        carreras.codigo , carreras.carrera 
         FROM  estudiantes ,carreras WHERE 
         estudiantes.carrera =  carreras.codigo """
# varOK es el criterio de búsqueda, es decir, es la columna que tiene que coincidir 
# para que se haga la consulta.

cursor.execute(sql)
results = cursor.fetchall()
results

In [ ]:
### cod= input('Ingrese el código: ')
sql = 'select * from prueba'
# varOK es el criterio de búsqueda, es decir, es la columna que tiene que coincidir 
# para que se haga la consulta.

cursor.execute(sql)
results = cursor.fetchall()
j = 0
for i in results:
    j+=1
    print(f'{j} - {i[1]} {i[2]} y tiene {i[3]} años de dad')

# CREATE - Insertar o agregar 

La palabra reservada de MySQL para hacer este query es $INSERT\ INTO$.

In [ ]:
nom = input('Nombre; ')
ape = input('Apellido; ')
edad = input('Edad; ')
sql_insert = """INSERT  INTO  prueba (id, nombre, apellido,edad)  
                VALUES (%s,%s,%s,%s)"""

cursor.execute(sql_insert,(None,nom, ape, edad)) 
cnx.commit()

# UPDATE - Modificar o Actualizar

La palabra reservada de MySQL para hacer este query es $UPDATE\ ...\ SET$.

In [ ]:
sql='UPDATE prueba SET nombre="María" WHERE id > 20 '

cursor.execute(sql) 
cnx.commit()

# DELETE - Eliminar

La palabra reservada de MySQL para hacer este query es $DELETE$.

In [ ]:
sql="DELETE FROM prueba WHERE edad >= 30"
cursor.execute(sql) #Ejecuta el comando SQL
cnx.commit() #Confirma los cambios en la base de datos.

# CIERRE DE LA CONEXIÓN
Finalmente cuando se termina el proceso, se debe cerrar la conexión entre Python y MySQL

In [ ]:
cnx.close()

# RESUMEN DE EJECUCIÓN

1. Importo la librería
2. Credenciales para conectar con el servidor
3. Esteblecer la conexión
4. Se hacer los query (CRUD)
5. cerrar la conexión

# EJERCICIO CON BASES DE DATOS

Desarrollo un algoritmo en Python que permita conectarse a base de datos _dimplomado_ y las tablas _salarios_, _cargo_, _facultad_ y _ciudad_. Hacer una aplicación CRUD con el siguiente menú:
1. Ingresar empleado
2. Consultar empleado
3. Mostrar todos los empleados
4. Actualizar registro de empleado
5. Eliminar registro.
6. Salir



* En la consulta se debe preguntar el tipo del campo por el cuál desea hacer la búsqueda. Adicional, la consulta no debe ser el campo exacto, es decir, usar la sintaxis LIKE %...%
* La consulta, se debe hacer el forma relacional, es decir, que la información de cargo, facultad y ciudad no sea el código, sino el texto que le corresponde a cada uno.
* Para el caso de la actualización del registro, el query se debe hacer a través del id y preguntar que campo desea actualizar.
* La eliminación del registros, se debe hacer a través del id.