In [1]:
lambda x,y: x*y

n=3
m=5
(lambda x,y: x*y) (n,m)

print((lambda x,y:x*y)(n,m))

15

In [2]:
print((lambda x,y:x*y)(n,m))

var= (lambda x,y: x+y )(5,6)

15

In [4]:
def a(x,y):
     print (x+y)

a(5,6)
var=a(5,6)

11
11

In [5]:
def doblar(num): 
    resultado = num*2 
    return resultado 

doblar(2)

4

In [6]:
def doblar(num): 
    return (num*2)

In [8]:
(lambda num : num*2)(1)

2

In [9]:
doble = (lambda x : x * 2)
print (doble(7))

14

In [14]:
def a(x , y):           
  return x + y

In [15]:
c = a(4,3)
print(c)

7

In [17]:
b = (lambda x , y: x + y)
c = b(4,3)
print(c)

7

In [18]:
def mi_func(x, y, z=1): 
    return (x+y) * z

In [19]:
b = lambda x, y, z=1: (x+y) * z

In [1]:
def mi_func(): 
    return 'Hola mundo'

In [4]:
a = mi_func()
b = (lambda : 'Hola mundo')

print(a,b())

Hola mundo Hola mundo

In [5]:
def mi_func(f, arg): 
    return f(arg)

mi_func((lambda x:2*x*x),5)

50

In [6]:
def mi_func(f,arg1,arg2): 
    return f(arg1,arg2)

mi_func(lambda x,y:2*x*y,5,4)

40

In [33]:
def a(x): 
    return x*5

c = a(1)

In [34]:
b= lambda x:x*5

In [35]:
print(c,b(1))

5 5

In [36]:
def polinomial(x):
    return x**2 + 5*x + 4
    
print(polinomial(-4))

0

In [37]:
print((lambda x: x**2 + 5*x + 4) (-4))

0

In [39]:
a= (lambda x:x*x)(8)
print(a)

64

In [40]:
triple = lambda x : x * 3 
add = lambda x, y : x + y 
print (add(triple(3),4))

13

In [41]:
def sumar(x):
      return x + 5

nums = [11,22,33,44,55]
resultado = list (map(sumar , nums))
print (resultado)

[16, 27, 38, 49, 60]

In [42]:
nums = [11,22,33]
a = list (map(lambda x : x*2 , nums))
print(a)

[22, 44, 66]

In [43]:
t = (11,22,33,44,55) 
res = tuple (filter(lambda x : x%2==0 , t)) 
print (res)

(22, 44)

In [12]:
while True:
    try:
        first_name = str(input('Ingrese su primer nombre'))
        if not first_name.isalpha():
            raise ValueError
        break
    except ValueError:
        print('Debe ingresar solo letras')

Debe ingresar solo letras
Debe ingresar solo letras
Debe ingresar solo letras
Debe ingresar solo letras

In [62]:
digit = str(input('Ingrese un nÃºmero: '))
if not digit.isdigit():
    raise ValueError

In [7]:
print('7'+4)

TypeError: can only concatenate str (not "int") to str